<header>
    <div class="container">
      <!-- Logo "SA" avec effets 3D et interactivité -->
      <div class="logo-container">
        <div class="logo">
          <span class="logo-s">S</span>
          <span class="logo-a">A</span>
        </div>
      </div>
  
      <!-- Bouton de menu pour les écrans mobiles -->
      <button class="menu-toggle" aria-label="Toggle menu" (click)="toggleMenu()">
        <span class="hamburger"></span>
      </button>
  
      <!-- Navigation -->
      <nav [class.active]="isMenuOpen">
        <ul>
          <li *ngFor="let item of menuItems" [@navItemAnimation]>
            <a href="#{{item.toLowerCase()}}" class="nav-link">{{item}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>